[submodule "tutor-python"]
	path = tutor-python
	url = https://github.com/amiradeu/tutor-python.git
[submodule "tutor-java"]
	path = tutor-java
	url = https://github.com/amiradeu/tutor-java.git
[submodule "tutor-c"]
	path = tutor-c
	url = https://github.com/amiradeu/tutor-c.git
[submodule "tutor-web-dev"]
	path = tutor-web-dev
	url = https://github.com/amiradeu/tutor-web-dev.git
